# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.bin
*.run

# Build artifacts
/_output/
/bin/
/pkg/
/vendor/

# IDE specific files
.vscode/
.idea/
*.swp

# Operating system files
.DS_Store
Thumbs.db

# Go-specific files
*.test
coverage.out

# Misc
node_modules/
.env

# pancake build file.
pancake
/build
build-v*.zip